---
layout: default.njk
title: Contact
nav: contact
---

<section class="bg-glow py-16 px-8">
    <img src="/assets/img/logo.png" alt="" class="block mx-auto md:w-[400px] h-auto mb-8">
    <h2 class="text-h2 header-underline mx-auto mb-8">About</h2>
    <p class="text-center">
                We are STARGAZER Studio, a creative agency building a safe channel for creative freedom. <br>
                With 13 talents in our roster, we are striving to provide you services and products that you’ll love.
            </p>
</section>

<section class="bg-primary  p-8 md:p-16 text-white">
    <div class="container flex md:flex-row flex-col md:gap-0 mx-auto">
        <div class="text-center md:px-8 md:py-0 border-b-2 py-8 md:border-b-0 md:border-r-2 border-white">
            <div class="text-h2 mb-[10px] text-white">Communication</div>
            <div class="text-left">
                    By bridging the communication between client and talent, we’re making our talents focus more on what matters: the service. As for our clients, they will experience a consistently pleasant and clear communication for their projects.
                </div>
        </div>
        <div class="text-center md:px-8 md:py-0 border-b-2 py-8 md:border-b-0 md:border-r-2 border-white">
            <div class="text-h2 mb-[10px] text-white">Quality</div>
            <div class="text-left">We only select people who’s capable and competent in their fields. Only take jobs we have capacity for. Ensuring whatever our clients wants, they’ll get the best person for their needs. Whatever work they throw at us, we’ll do it to our fullest extent.                </div>
        </div>
        <div class="text-center md:px-8 md:py-0 py-8 border-white">
            <div class="text-h2 mb-[10px] text-white">Platform</div>
            <div class="text-left">We provide the space for our talents to prosper and grow and for our clients to easily find what they need. We position ourselves to allow easy, safe, and comfortable transaction between our talents and the world.                </div>
        </div>
    </div>
</section>

<section class="py-16 container mx-auto">
    <h2 class="text-h2 header-underline mx-auto mb-8">Contact Us</h2>
    <div class="md:flex">
        <div class="w-full text-center">
            <h3 class="text-h2 mb-2">General</h3>
            <p class="text-xs mb-2">For those looking to commission us</p>
            <div class="flex flex-col max-w-[300px] gap-2 mx-auto">
                <a href="https://vgen.co/stargazer-studio" target="_blank" class="w-full flex items-center px-4 h-[48px] bg-[#E1E7EB] rounded-full gap-[10px]">
                    <img src="/assets/img/vgen-color.svg">
                    <span>vgen.co/stargazer-studio</span>
                </a>
                <a href="https://twitter.com/stargazer_aud" target="_blank" class="w-full flex items-center px-4 h-[48px] bg-[#E1E7EB] rounded-full gap-[10px]">
                    <img src="/assets/img/twitter-color.svg">
                    <span>twitter.com/stargazer_aud</span>
                </a>
                <a href="https://twitter.com/STGZStudio_EN" target="_blank" class="w-full flex items-center px-4 h-[48px] bg-[#E1E7EB] rounded-full gap-[10px]">
                    <img src="/assets/img/twitter-color.svg">
                    <span>twitter.com/STGZStudio_EN</span>
                </a>
            </div>
        </div>
        <div class="w-full text-center md:mt-0 mt-16">
            <h3 class="text-h2 mb-2">Business</h3>
            <p class="text-xs mb-2">For agencies, other businesses, and corporations.</p>
            <div class="flex flex-col max-w-[300px] gap-2 mx-auto">
                <a href="mailto:contact@stargazer-studio.com" class="w-full flex items-center px-4 h-[48px] bg-[#E1E7EB] rounded-full gap-[10px]">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"/>
                        <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"/>
                    </svg>

                    <span>contact@stargazer-studio.com</span>
                </a>

            </div>
        </div>
    </div>
</section>