---
layout: default.njk
pagination:
    data: talents
    size: 1
    alias: talent
    addAllPagesToCollections: true
---
<div class="bg-glow md:pt-16 md:mb-4">
    <div class="container mx-auto">
        <section class="md:px-36 md:pt-16 md:pb-8 pt-8 pb-4">
            <div class="flex flex-col md:flex-row items-center md:px-0 px-8">
                <div class="relative p-4 md:w-[240px]">
                    <img src="" alt="" class="talent__img h-[120px] md:h-[160px] w-[120px] md:w-[160px] rounded-full shadow-lg bg-slate-400 mb-4">
                </div>
                <div class="mb-8 md:self-auto self-start">
                    <span class="block">Talents ></span>
                    <span class="block text-h1">{{ talent.talent_name.stringValue }}</span>
                    <span class="block mt-2">{{ talent.talent_desc.stringValue }}</span>
                </div>
            </div>
            <div class="hidden md:flex justify-center" id="commsList">
                {% for comm in talent.commissions %}
                    <div class="commsDetail">
                        <div class="text-h2 mb-4">
                            {{ comm.comms_name.stringValue }}
                        </div>
                        <div class="mb-4 flex-grow">
                            {{ comm.comms_desc.stringValue }}
                        </div>
                        <div class="flex items-center gap-2">
                                <span class="text-h2 text-secondary price price-USD">
                                    USD ${{ comm.comms_price.arrayValue.values[0].integerValue | thousandSeparator}}
                                </span>
                                <span class="text-h2 text-secondary price price-IDR">
                                    IDR {{ comm.comms_price.arrayValue.values[1].integerValue | thousandSeparator }}
                                </span>
                                <span class="block">
                                    <div class="text-sm text-accent">
                                        / {{comm.comms_price_unit.stringValue}}
                                    </div>
                                </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>


        <article class="prose px-8 pb-8 pt-4 md:px-36 md:pt-12 md:pb-12">
            {{ talent.talent_content.stringValue | markdown | safe }}
        </article>
    </div>
</div>
