---
layout: default.njk
title: General Terms of Service
text: |
    This Terms of Service Agreement ("Agreement") is entered between the Client and STARGAZER Studio for the commission of a service ("Work"). By commissioning a service from STARGAZER Studio, the Client agrees to the following terms.

    ## 1\. ENGAGEMENT

    1.  Client provides clear and complete requirements and expectations upfront, such as assets and reference materials before Work begins.
    2.  Client grants STARGAZER Studio non-exclusive rights to use and replicate any assets and reference materials provided for the use of the Work.
    3.  Client warrants that all provided assets and reference materials are legally obtained and authorized for use by the Client.
    4.  STARGAZER Studio strives that their talent will perform to the best of their ability in good faith and warrants that Work is 100% original according to talent's best knowledge.
    5.  STARGAZER Studio reserves the right to refuse projects or requests for any reason.
    6.  STARGAZER Studio warrants that they will not use unauthorized assets or materials.
    7.  STARGAZER Studio defines scope of work, features, price, deliverables, and other details for the project that has been outlined in a format according to STARGAZER Studio discretion which may include private messages through Discord or Twitter, VGen platform, STARGAZER Studio's official website, or email. The details set forth by STARGAZER Studio shall be agreed upon by the Client before Work begins.

    ## 2\. TIMELINE AND PROCESS

    1.  Timeline depends on commission type, complexity, and workload.
    2.  STARGAZER Studio provides progress updates and seeks Client feedback voluntarily.
    3.  Final deliverables are provided by STARGAZER Studio using the VGen platform, Google Drive, or similar file transfer tools.
    4.  If there are any delays and adjustment to the timeline, STARGAZER Studio will inform the Client.
    5.  Client must first agree to delays and amendments exceeding 1 months to timeline through standard communication channels.
    6.  Client have the right to request refunds 1 month after deadline if Work has not been delivered and there was no agreed upon amendment to the timeline.

    ## 3\. REVISIONS

    1.  Excessive revisions may incur additional charges.
    2.  Revisions may affect progress and timeline.

    ## 4\. COMMUNICATION

    1.  Ongoing communication and discussion will occur throughout the project, including work in progress, idea generation and collaboration, situational updates, and more.
    2.  Communcation channels may include Discord or Twitter private messages, or email according to discretion from STARGAZER Studio.
    3.  STARGAZER Studio response time may vary, up to one week in order to provide better or more concrete update.

    ## 5\. RIGHTS AND USAGE

    1.  STARGAZER Studio Rights
        1.  STARGAZER Studio and talents responsible for the Work retains copyright, ownership, redistribution and intellectual property rights, which includes but not limited to display, advertising, printing, synchronization, the Work and work in progress on websites, social media, portfolios, public broadcast channels (i.e. YouTube, Twitch) and more.
    2.  Client Rights
        1.  Client recieve exclusive, non-transferable usage rights to the Work for personal use. Refer to Section 5.c. for commercial rights.
        2.  Personal use means: display on social media accounts for promotional purposes with no direct monetization, such as profile pictures, banners, and posts; print and framing in personal spaces; display as part of designs or content on websites and channels.
        3.  Client must not claim Work as their own and must credit STARGAZER Studio and the STARGAZER Studio talent responsible for the Work by (1) including the text STARGAZER or STARGAZER Studio with a link to either STARGAZER Studio website or Twitter page and (2) STARGAZER Studio talent's name and link to their social media profile.
    3.  Commercial Rights
        1.  Commercial usage rights are not included unless specified in the commision type or listing on the STARGAZER Studio's website or as agreed upon.
        2.  Commercial rights means any usage that directly monetize the Work such as selling or reselling Work to another party, locking the Work with monetized access feature, as part of any monetized product, and more.
        3.  Usage of Work for AI (artificial intelligence) tools, platforms or programs; ML (machine learning) tools, platforms or programs; AI or ML training; NFT; blockchain; or other for-profit platforms/purposes is strictly prohibited.
        4.  Additional charges will be required for commercial usage if not included.

    ## 6\. PAYMENTS AND FEES

    1.  Client pays in full upfront.
    2.  Client may request split payment for projects above USD100 or IDR1,000,000. STARGAZER Studio reserve the right to refuse this request for security reasons.
    3.  Invoices, proposal, or payment link will be sent to the Client when STARGAZER Studio is ready to begin work. Client must not send money before these requests for payment from STARGAZER Studio.
    4.  Prices are in USD or IDR and paid via VGen, Stripe, PayPal or methods as provided by STARGAZER Studio.
    5.  IDR prices are reserved for Client with Indonesian bank account only.
    6.  We reserve the right to reject IDR payments for any reason.
    7.  Prices may become outdated, vary or change depending on complexity, requirements, and/or additional requests.
    8.  Once Work has begun or payments have been made, the Client acknowledges Work and deliverables are digital and there are no physically shipped goods to recieve.
    9.  Client warrants they will not issue chargebacks and the refund policy mentioned below will be followed.

    ## 7\. CANCELLATION AND REFUNDS

    1.  If Client requests cancellation, full refund may be provided if cancelled within 3 days window after invoice is paid.
    2.  No refunds are possible after work begins unless initiated by STARGAZER Studio.
    3.  If STARGAZER Studio cannot complete work or there are delays as detailed in Section 3 for unforeseen reasons, client may be eligible for a full refund. If work done up to this point is accepted and used by the Client, STARGAZER Studio will provide a partial refund only.

    ## 8\. CONFIDENTIALITY

    1.  STARGAZER Studio and Client acknowledges that information and materials that are provided to either party (including but not limited to personal information, technical information, marketing plans, payment information, or sensitive business information) outside of the development of Work, that will not be visible to the public shall be considered confidetial information and shall not be disclosed to any other party without prior written permission from the owner of this confidential information.

    ## 9\. INDEMNIFICATION

    1.  Client indemnifies STARGAZER Studio against claims, losses, damages, and expenses related to Work usage by the Client, breach by the Client of the Agreement, or third-party claims.
    2.  If Client's rights are violated or the Work is not delivered as agreed, STARGAZER Studio will work to remedy the situation first.

    ## 10\. ACCEPTANCE

    1.  Client is 18+ and legally able to commit to an agreement or has a legal guardian to make this agreement on their behalf.
    2.  Agreement date is upon first inquiry/communication or first transaction.

    Note: Business, agencies, groups and other organizations should contact STARGAZER Studio to discuss arrangements in more detail.
---
<div class="bg-glow pt-16">
    <img src="/assets/img/logo.png" alt="" class="block mx-auto md:w-[400px] h-auto mb-8">
</div>
<div class="md:pt-16 md:mb-4">
    <h1 class="text-4xl font-bold text-center md:text-5xl">General Terms of Service</h1>
    <article class="container mx-auto prose px-8 pb-16 pt-8 md:px-36 md:pt-16 md:pb-16">
        {{text | markdown | safe}}
    </article>
</div>
