<footer class="relative overflow-visible">
    <div id="goToTop" class="text-[#17172E]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
        </svg>

    </div>
    <div class="md:order-2">
        <div class="flex justify-center md:justify-end gap-4">
            <a target="_blank" href="" title="Email"><img src="/assets/img/envelope-fill.svg" alt=""></a>
            <a target="_blank" href="https://vgen.co/stargazer-studio" title="VGEN"><img src="/assets/img/vgen.svg" alt=""></a>
            <a target="_blank" href="https://twitter.com/stargazer_aud" title="Twitter"><img src="/assets/img/twitter.svg" alt=""></a>
            <a target="_blank" href="" title="Instagram"><img src="/assets/img/instagram.svg" alt=""></a>
            <a target="_blank" href="https://www.youtube.com/@stargazer_aud" title="Youtube"><img src="/assets/img/youtube.svg" alt=""></a>
        </div>
        <a href="terms.html" class="mt-6 block md:text-right text-center">Terms of Service</a>
    </div>
    <div class="md:order-1 md:justify-normal justify-center flex flex-wrap md:block">
        <img src="/assets/img/logo_white.png" alt="" height="128" width="236">
        <span class="mt-6 block">© 2023 STARGAZER Studio</span>
    </div>

</footer>